# EmailJS Configuration
# Get these values from https://www.emailjs.com/
# See EMAILJS_SETUP.md for detailed setup instructions

NEXT_PUBLIC_EMAILJS_SERVICE_ID=service_kmvnnax
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=template_ojutzo7
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=YITu4swbGHXKFsR0q
